In [13]:
#extraindo texto plano de um pdf utilizando PyPDF2

import PyPDF2
import re

pdf_file = open('holerite1.pdf', 'rb')
read_pdf = PyPDF2.PdfFileReader(pdf_file)
number_of_pages = read_pdf.getNumPages()
page = read_pdf.getPage(0)
page_content = page.extractText()
page_content

parsed = ''.join(page_content)
parsed = re.sub('\n', '', parsed)
parsed = re.sub('4dmissão', '', parsed)
novastring = parsed[0:50]
print(parsed)

Fundo de Aposentadoria e Pensões FAPES-TOLEDODemonstrativo de PagamentoServidor::138621 - ALDACIR ALVES FREIRE01/10/2010Dezembro / 2012Cargo:PROFESSOR ILotação:SECRETARIA DA EDUCACAOCódigoDescriçãoReferênciaVantagensDescontostoledo, 1 - Toledo08.885.045/0001-00142PROV INATIVIDADE1.993,99603IMPOSTO DE RENDA0,075026,76613MENSALID SINDICAL0,010019,93619CAST0,0600119,63640EMPREST CAIXA ECON02/14358,90681SEG VIDA-ASSERMUTO9,59Total VantagensTotal DescontosTotal Líquido1.993,99534,811.459,18Salário BaseBase PrevidênciaBase FGTSFGTSBase IRRFAlíquota IRRF1.993,990,000,000,001.993,997,50

In [19]:
#importando tabelas em pdf usando o pytabula

from tabula import read_pdf

df = read_pdf("holerite1.pdf")
df

,Unnamed: 0,Fundo de Aposentadoria e Pensões FAPES-TOLEDO Demonstrativo de Pagamento
0,NaN,"toledo, 1 - Toledo"
1,NaN,Dezembro / 201208.885.045/0001-00
2,NaN,Servidor: 138621 - ALDACIR ALVES FREIRE Admiss...
3,NaN,Cargo: PROFESSOR I Lotação: SECRETARIA DA EDUC...
4,Código,Descrição Referência Vantagens Descontos
5,142,"PROV INATIVIDADE 1.993,99"
6,603,"IMPOSTO DE RENDA 0,0750 26,76"
7,613,"MENSALID SINDICAL 0,0100 19,93"
8,619,"CAST 0,0600 119,63"
9,640,"EMPREST CAIXA ECON 02/14 358,90"
10,681,"SEG VIDA-ASSERMUTO 9,59"
11,NaN,Total Vantagens Total Descontos
12,NaN,"1.993,99 534,81"
13,NaN,"Total Líquido 1.459,18"
14,Salário Base,Base Previdência Base FGTS FGTS Base IRRF Alíq...
15,"1.993,99","0,00 0,00 0,00 1.993,99 7,50"

In [25]:
df.iloc[2][1]

'Servidor: 138621 - ALDACIR ALVES FREIRE Admissão: 01/10/2010'

In [15]:
df.iloc[0]

Unnamed: 0                                                                                 NaN
Fundo de Aposentadoria e Pensões FAPES-TOLEDO Demonstrativo de Pagamento    toledo, 1 - Toledo
Name: 0, dtype: object

In [18]:
#tabelas perfeitas são importadas perfeitamente... o tabula não se dá muito bem com linhas mescladas

from tabula import read_pdf

df = read_pdf("D:/testetabela.pdf")
df

       Nome  Idade       Sexo  Cabelo
0  Vinicius     22  Masculino  Marron
1      Jade     30   Feminino   Loiro
2     Ligia     10   Feminino   Preto

In [8]:
# pega a primeira row inteira
df.iloc[0]

Nome       Vinicius
Idade            22
Sexo      Masculino
Cabelo       Marron
Name: 0, dtype: object

In [9]:
# pega o primeiro dado
df.iloc[0][0]

'Vinicius'

In [12]:
#conta quantos itens tem na lista
len(df.iloc[0])

4